body{
    background-color: #000032;
    color: white;
    /*background-image: url("images/niklas-rhose-14302.jpg");*/
    /*background-size: auto;*/
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
input{

    /*color: ;*/
    text-decoration: none;
    border-color: #000032;
    border-top-style: none;
    border-radius: 5px;

}

/*input::placeholder{*/
    /*text-align: left;*/
    /*box-sizing: border-box;*/
    /*padding-left: 10px;*/
/*}*/

.headerStyles{

    /*background-color: red;*/

}

.headerStyles span{
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

.jumbotron{

    background-color: #000032;
}
.btn-outline-primary{

    color: white;
    border-color: white;
}
/*#Login, #InputEmail, #InputPassword {*/
    /*width: 33%;*/
    /*float: left*/
/*}*/

.timerHeadText{

    font-family: "Roboto", sans-serif;
    font-size: 30px;
}
#timeTicker p{
    font-family: "Roboto", sans-serif;
    font-size: 50px;

}
#playPause :hover{
    transform: scale(1.05);
    cursor: hand;
    cursor: pointer;
}
#CurentTime{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.pbBottom{
    background-color: #fffdfd;
    border-radius: 10px;
    height: 25px;
    align-content: center;
}
.pbTop{
    background-color: #ffb342;
    border-radius: 10px;
    height: 25px;
    align-content: center;
    width: 10%;
}
.modal-body{

    color:black;
    background-color: #ffb342;
}