body{
    background-color: #000032;
    color: white;
    /*background-image: url("images/niklas-rhose-14302.jpg");*/
    /*background-size: auto;*/
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
input{

    /*color: ;*/
    text-decoration: none;
    border-color: #000032;
    border-top-style: none;
    border-radius: 5px;

}

input::placeholder{
    text-align: left;
    box-sizing: border-box;
    padding-left: 10px;
}

.headerStyles{

    /*background-color: red;*/

}

.headerStyles span{
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

.jumbotron{

    background-color: #000032;
}
.btn-outline-primary{

    color: white;
    border-color: white;
}
/*#Login, #InputEmail, #InputPassword {*/
    /*width: 33%;*/
    /*float: left*/
/*}*/

.timerHeadText{

    font-family: "Roboto", sans-serif;
    font-size: 30px;
}
#timeTicker p{
    font-family: "Roboto", sans-serif;
    font-size: 30px;

}
#playPause :hover{
    transform: scale(1.05);
    cursor: hand;
    cursor: pointer;
}