body{
    background-color: #000032;
    color: white;
    /*background-image: url("images/niklas-rhose-14302.jpg");*/
    /*background-size: auto;*/
}

.headerStyles{

    background-color: cornflowerblue;
    display: block;
    width: 100%;

}

/*.headerTop{*/


    /*background-color: #251332;*/
/*}*/